WebContent/wsdl/WS_ArticulosPedido.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.pfg.uned" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.pfg.uned" xmlns:intf="http://ws.pfg.uned" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.pfg.uned" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="envioArticulos">
    <complexType>
     <sequence>
      <element name="id_pedido" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="envioArticulosResponse">
    <complexType>
     <sequence>
      <element name="envioArticulosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="envioArticulosRequest">

      <wsdl:part element="impl:envioArticulos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="envioArticulosResponse">

      <wsdl:part element="impl:envioArticulosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WS_ArticulosPedido">

      <wsdl:operation name="envioArticulos">

         <wsdl:input message="impl:envioArticulosRequest" name="envioArticulosRequest">

       </wsdl:input>

         <wsdl:output message="impl:envioArticulosResponse" name="envioArticulosResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WS_ArticulosPedidoSoapBinding" type="impl:WS_ArticulosPedido">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="envioArticulos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="envioArticulosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="envioArticulosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WS_ArticulosPedidoService">

      <wsdl:port binding="impl:WS_ArticulosPedidoSoapBinding" name="WS_ArticulosPedido">

         <wsdlsoap:address location="http://localhost:8080/Aplicacion_Web/services/WS_ArticulosPedido"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
