WebContent/wsdl/WS_ArtSeleccionado.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.pfg.uned" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.pfg.uned" xmlns:intf="http://ws.pfg.uned" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.pfg.uned" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="enviarArticuloSeleccionado">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enviarArticuloSeleccionadoResponse">
    <complexType>
     <sequence>
      <element name="enviarArticuloSeleccionadoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="enviarArticuloSeleccionadoResponse">

      <wsdl:part element="impl:enviarArticuloSeleccionadoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enviarArticuloSeleccionadoRequest">

      <wsdl:part element="impl:enviarArticuloSeleccionado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WS_ArtSeleccionado">

      <wsdl:operation name="enviarArticuloSeleccionado">

         <wsdl:input message="impl:enviarArticuloSeleccionadoRequest" name="enviarArticuloSeleccionadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:enviarArticuloSeleccionadoResponse" name="enviarArticuloSeleccionadoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WS_ArtSeleccionadoSoapBinding" type="impl:WS_ArtSeleccionado">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="enviarArticuloSeleccionado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enviarArticuloSeleccionadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enviarArticuloSeleccionadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WS_ArtSeleccionadoService">

      <wsdl:port binding="impl:WS_ArtSeleccionadoSoapBinding" name="WS_ArtSeleccionado">

         <wsdlsoap:address location="http://localhost:8080/Aplicacion_Web/services/WS_ArtSeleccionado"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
