WebContent/wsdl/WS_Cambio_Estado_Pedido.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.pfg.uned" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.pfg.uned" xmlns:intf="http://ws.pfg.uned" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.pfg.uned" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cambiarEstado">
    <complexType>
     <sequence>
      <element name="id_pedido" type="xsd:string"/>
      <element name="estado" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cambiarEstadoResponse">
    <complexType>
     <sequence>
      <element name="cambiarEstadoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="cambiarEstadoRequest">

      <wsdl:part element="impl:cambiarEstado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cambiarEstadoResponse">

      <wsdl:part element="impl:cambiarEstadoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WS_Cambio_Estado_Pedido">

      <wsdl:operation name="cambiarEstado">

         <wsdl:input message="impl:cambiarEstadoRequest" name="cambiarEstadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:cambiarEstadoResponse" name="cambiarEstadoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WS_Cambio_Estado_PedidoSoapBinding" type="impl:WS_Cambio_Estado_Pedido">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cambiarEstado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cambiarEstadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cambiarEstadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WS_Cambio_Estado_PedidoService">

      <wsdl:port binding="impl:WS_Cambio_Estado_PedidoSoapBinding" name="WS_Cambio_Estado_Pedido">

         <wsdlsoap:address location="http://localhost:8080/Aplicacion_Web/services/WS_Cambio_Estado_Pedido"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
