WebContent/wsdl/WS_NuevoArticulo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.pfg.uned" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.pfg.uned" xmlns:intf="http://ws.pfg.uned" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.pfg.uned" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="nuevoArticulo">
    <complexType>
     <sequence>
      <element name="articulo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="nuevoArticuloResponse">
    <complexType>
     <sequence>
      <element name="nuevoArticuloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="nuevoArticuloRequest">

      <wsdl:part element="impl:nuevoArticulo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="nuevoArticuloResponse">

      <wsdl:part element="impl:nuevoArticuloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WS_NuevoArticulo">

      <wsdl:operation name="nuevoArticulo">

         <wsdl:input message="impl:nuevoArticuloRequest" name="nuevoArticuloRequest">

       </wsdl:input>

         <wsdl:output message="impl:nuevoArticuloResponse" name="nuevoArticuloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WS_NuevoArticuloSoapBinding" type="impl:WS_NuevoArticulo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="nuevoArticulo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="nuevoArticuloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="nuevoArticuloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WS_NuevoArticuloService">

      <wsdl:port binding="impl:WS_NuevoArticuloSoapBinding" name="WS_NuevoArticulo">

         <wsdlsoap:address location="http://localhost:8080/Aplicacion_Web/services/WS_NuevoArticulo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
